<h2>Существующие категории</h2>

<div class="container">
  <% Category.all.each do |cat| %>
    <p class="border-top"><%= cat.title %></p>
  <% end %>
</div>
<h2>Добавление категории</h2>

<%= render 'shared/errors' %>

<%= form_for :category, :class => 'form' do |f| %>
  <div class="form-control-lg">
    <%= f.text_field :title %>
    <%= label_tag :title, 'Наименование' %>
  </div>
  <div class="form-control-lg">
    <%= f.submit 'Добавить категорию' %>
  </div>
<% end %>
