<h2>Существующие категории</h2>

<div class="container">
  <% Category.all.each do |cat| %>
    <div class="d-flex flex-column flex-md-row align-items-center">
      <span class="border-top container-fluid"><%= cat.title %></span>
      <%= link_to 'Удалить',url_for(action: :destroy,id: cat.id),method: :delete %>
    </div>
  <% end %>
</div>
<h2>Добавление категории</h2>

<%= render 'shared/errors' %>

<%= form_for :category, :class => 'form' do |f| %>
  <div class="form-control-lg">
    <%= f.text_field :title %>
    <%= label_tag :title, 'Наименование' %>
  </div>
  <div class="form-control-lg">
    <%= f.submit 'Добавить категорию' %>
  </div>
<% end %>
