<h2>Главная страница</h2>

  <p><%=link_to 'Вход', 'login', method: :get %></p>
  <p><%=link_to 'Регистрация', 'register', method: :get %></p>
  <p><%=link_to 'Каталог товаров', 'product', method: :get %></p>

  <p><%=link_to 'Добавить категорию', 'add_category', method: :get %></p>
  <p><%=link_to 'Добавить товар', 'add_product', method: :get %></p>

  <p><%=link_to 'Оформить заказ', 'order', method: :get %></p>
  <p><%=link_to 'Профиль пользователя', 'user', method: :get %></p>
  <p><%=link_to 'Администрирование', 'admin', method: :get %></p>
