<h2>Добавление товара</h2>

<%= render 'shared/errors' %>

<%= form_for :product, :class => 'form' do |f| %>
  <div class="form-control-lg">
    <%= f.text_field :title %>
    <%= label_tag :title, 'Наименование' %>
  </div>
  <div class="form-control-lg">
    <%= f.text_area :description %>
    <%= label_tag :description, 'Описание' %>
  </div>
  <div class="form-control-lg">
    <%= f.text_field :price %>
    <%= label_tag :price, 'Стоимость' %>
  </div>
  <div class="form-control-lg">
    <%= f.collection_select :category_id, Category.all, :id, :title %>
    <%= label_tag :category_id, 'Категория' %>
  </div>
  <div class="form-control-lg">
    <%= f.submit 'Добавить товар' %>
  </div>

<% end %>

<h2>Существующие товары</h2>
<div class="caption-top container">
  <% Product.all.each do |product| %>
    <h3 class="border-top text-danger"><%= product.title %></h3>
    <div class="container">
      <span>ОПИСАНИЕ: <%= product.description %><br></span>
      <span class="flex-fill">СТОИМОСТЬ: <%= product.price %><br></span>
      <span>КАТЕГОРИЯ: <%= Category.find_by_id(product.category_id).title %><br></span>
      <span>ДАТА ПУБЛИКАЦИИ: <%= product.created_at %><br></span>
      <%= link_to 'Удалить',url_for(action: :destroy,id: product.id),method: :delete %>
    </div>
  <% end %>
</div>