<h2>Вход</h2>
<%= form_for :user, :class => 'form' do |f| %>
  <div class="form-control-lg">

    <%= f.email_field :email %>
    <%= label_tag :email, 'Почта' %>
  </div>
  <div class="form-control-lg">
    <%= f.password_field :password %>
    <%= label_tag :password, 'Пароль' %>
  </div>

  <%= link_to t('.form.forgot_password'), new_password_reset_path,
    class: 'btn btn-secondary' %>

  <div class="form-control-lg">
    <%= f.submit 'Войти' %>
  </div>
<% end %>